.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.clickMe {
  background-color: green;
  font-size: 16px  ;
  color: white;
  padding: 16px 20px;
  margin-left: 100px
}

.reset {
  background-color: red;
  font-size: 16px  ;
  color: white;
  padding: 16px 20px;
  margin-left: 100px
}
